.footer{
background-color: lightblue;
color:white;

}
.header{
background-color: lightblue;
color:white;
padding: 10px;
text-align: center;
font-size: 20px;
display: flex;
flex-direction: column;
}
html{
    font-family: Arial;
}
#email{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#searchicon{
    width: 20px;
    height: 20px;
    align-self: flex-end;
    margin: 10px;
    position: absolute;
}