.footer {
    background-color: lightblue;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;



}

.header {
    background-color: lightblue;
    color: white;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

html {
    font-family: Arial;
}


#searchicon {
    width: 20px;
    align-self: flex-end;
    margin: 10px;
    position: absolute;
    transition: 0.2s;
}
#searchicon:hover{
    transform: scale(2);
}

#infoheader {
    font-size: 20px;
    display: flex;
justify-content: space-evenly;
align-items: center;
}

.link {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    animation: colorlink 0.2s forwards;
}

@keyframes colorlink {
    to {
        color: rgb(43, 172, 253);
        font-size: 24px;
    }
}